<!DOCTYPE html>
<html>
<head>
    <title>@Page.Title</title>
    @RenderSection("head", required: false)
    @RenderSection("head", required: false)
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/jqueryval")
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
    @Scripts.Render("~/bundles/metro")
</head>
<body>
    <div @*class="example p-0 no-overflow" style="height: 400px;"*@>
        <aside class="sidebar pos-absolute open z-2" data-role="sidebar" data-toggle="#sidebar-toggle" id="sb1">
            <div class="sidebar-header" data-image="">
                <a href="/" class="fg-white sub-action" onclick="Metro.sidebar.close('#sb1'); return false;"><span class="mif-arrow-left mif-2x"></span></a>
                <div class="avatar">
                    <img data-role="gravatar" data-email="sergey@pimenov.com.ua">
                </div>
                <span class="title fg-white">Metro 4 Components Library</span>
                <span class="subtitle fg-white"> 2018 &copy; Sergey Pimenov</span>
            </div>
            <ul class="sidebar-menu">
                <li><a><span class="mif-home icon"></span>Home</a></li>
                <li><a><span class="mif-books icon"></span>Guide</a></li>
                <li><a><span class="mif-files-empty icon"></span>Examples</a></li>
                <li class="divider"></li>
                <li><a><span class="mif-images icon"></span>Icons</a></li>
            </ul>
        </aside>
        <div @*class="aaa h-100 p-ab"*@ class="bg-dark" data-role="appbar" data-expand-point="md">
            <div class="app-bar pos-absolute bg-red z-1" data-role="appbar" id="app-bar-1">
                <button class="app-bar-item c-pointer" id="sidebar-toggle"><span class="mif-menu fg-white"></span></button>
            </div>


        </div>
    </div>
    @RenderBody()
</body>
</html>
